# youtube
alias ytmp3="/usr/bin/yt-dlp --extract-audio --audio-format mp3 -o '%(title)s.%(ext)s'"
alias ytwav="/usr/bin/yt-dlp --extract-audio --audio-format wav -o '%(title)s.%(ext)s'"
alias ytmp4="/usr/bin/yt-dlp -f mp4 -o '[%(channel)s] %(title)s.%(ext)s'"
alias pv="pipe-viewer --invidious"

# default flags
alias yay="/usr/bin/yay --aur"
alias 7z="/usr/bin/7z -bsp0"

# file/dir listing
alias lc="/usr/bin/ls *.(rar|zip|7z|ngz|gz|tar)"
alias ll="/usr/bin/ls -d */"
alias lsdir="/usr/bin/ls --sort=extension --group-directories-first"

# proton
alias proton-ge="WINEPREFIX=$HOME/.wine-proton proton"
alias jproton-ge="LANG=ja_JP.UTF-8 proton-ge"
alias jwine="LANG=ja_JP.UTF-8 wine"

# utils
alias alldirtolower='find . -maxdepth 1 -type d | while read f; do mv "$f" $(echo "$f" | sed "s/[A-Z]/\L&/g") 2>/dev/null; done'
alias pythonenv="source $HOME/selenium-test/bin/activate"
alias winrdp="xfreerdp /v:homeserver:3389 /u:docker /size:1920x1080 /audio"
